.profile__info {
  display: grid;
  grid-template-columns: fit-content(300px) min-content;
  grid-template-rows: repeat(2, min-content);
  gap: 16px 18px;
}
@media (max-width: 768px) {
  .profile__info {
    margin: 0 0 36px;
    padding-left: 22px;
    grid-template-columns: 1fr min-content;
    gap: 14px 10px;
    text-align: center;
  }

}
